# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
repo

# dev/runtime
run/
!run/config/
!run/config/fancymenu/
!run/config/fancymenu/**
!run/config/fancymenu/assets/
!run/fancymenu_data/
!run/fancymenu_data/**
!run/mods/
!run/mods/**
run/config/fancymenu/user_variables.db