# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
repo

# dev/runtime
# alles unter /run ignorieren …
/run/*
/run/config/*.json
/run/config/*.toml
/run/config/*.bak
/run/config/*.properties

# … aber diese Teilbäume wieder zulassen:
!/run/config/

!/run/config/fancymenu/
!/run/config/fancymenu/**

!/run/fancymenu_data/
!/run/fancymenu_data/**

!/run/mods/
!/run/mods/**

# einzelne Dateien weiter ausschließen
/run/config/fancymenu/user_variables.db

